{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h2>Lista używanych Samochodów</h2>
    <a class="btn btn-warning" href = "{{ url_for('add_car') }}">Dodaj samochód</a>
    <table class="table table-sm">
        <tr>
            <th scope="col">
                ID
            </th>
            <th scope="col">
                Marka
            </th>
            <th scope="col">
                Model
            </th>
            <th scope="col">
                Rok
            </th>
            <th scope="col">
                Przebieg [km]
            </th>
            <th scope="col">
                Cena [zł]
            </th>
        </tr>
            {% for car in cars %}
            <tr>
                <td>
                    {{ car.id }}
                </td>
                <td>
                    {{ car.brand }}
                </td>
                <td>
                    {{ car.model }}
                </td>
                <td>
                    {{ car.year }}
                </td>
                <td>
                    {{ car.mileage }}
                </td>
                <td>
                    {{ car.price }}
                </td>
            </tr>
            {% endfor %}
    </table>
</div>
{% endblock content %}