{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h2>Lista używanych Samochodów</h2>
    <table class="table table-sm">
        <tr>
            <th scope="col">
                ID
            </th>
            <th scope="col">
                Marka
            </th>
            <th scope="col">
                Model
            </th>
            <th scope="col">
                Rok
            </th>
            <th scope="col">
                Przebieg [km]
            </th>
            <th scope="col">
                Cena [zł]
            </th>
        </tr>
            {% for car in cars.items %}
            <tr>
                <td>
                    {{ car.id }}
                </td>
                <td>
                    {{ car.brand }}
                </td>
                <td>
                    {{ car.model }}
                </td>
                <td>
                    {{ car.year }}
                </td>
                <td>
                    {{ car.mileage }}
                </td>
                <td>
                    {{ car.price }}
                </td>
            </tr>
            {% endfor %}
    </table>
    {% for page_num in cars.iter_pages() %}
        {% if page_num %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('cars', page=page_num) }}">{{ page_num }}</a>
        {% else %}
        {% endif %}
    {% endfor %}
</div>
{% endblock content %}